# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / FastAPI
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environnements
.env
.env.*

# OS files
.DS_Store
Thumbs.db
