@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tes styles personnalisés ensuite */
html, body {
  scroll-behavior: smooth;
}

section {
  transition: all 0.3s ease-in-out;
}

textarea {
  margin-bottom: 1rem;
}

button {
  margin-top: 0.5rem;
}

footer {
  background: linear-gradient(to bottom, #f9fafb, #f3f4f6);
}
